
<!DOCTYPE html>
<html lang="en">
<title>Fréttir</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/fluff.css">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC|PT+Mono&display=swap" rel="stylesheet">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: 'Amatic SC', 'PT Mono', cursive;}
.w3-bar,h1,button {font-family: 'PT Mono', monospace;}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/" class="w3-bar-item w3-button w3-padding-large w3-white">Heim</a>
    <a href="/frett/1" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Frétt 1</a>
    <a href="/frett/2" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Frétt 2</a>
    <a href="/frett/3" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Frétt 3</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="/" class="w3-bar-item w3-button w3-padding-large">Heim</a>
    <a href="/frett/1" class="w3-bar-item w3-button w3-padding-large">Frétt 1</a>
    <a href="/frett/2" class="w3-bar-item w3-button w3-padding-large">Frétt 2</a>
    <a href="/frett/3" class="w3-bar-item w3-button w3-padding-large">Frétt 3</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
    <h1 class="w3-margin w3-jumbo">Fréttir</h1>
    <p class="w3-xlarge">Guðrún Ásta</p>
</header>
  
  <!-- Second Grid -->
  <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
    <div class="w3-content">
      <div class="w3-third w3-center">
        <img src="/static/img/logo.svg" alt="">
    </div>
  
      <div class="w3-twothird">
        <h1>{{title}}</h1>
        <h5 class="w3-padding-32">{{content}}</h5>
  
        <p class="w3-text-grey">{{author}}</p>
      </div>
    </div>
  </div>
  
  <div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
      <h1 class="w3-margin w3-xlarge">Quote of the day: Eat pant</h1>
  </div>
  